[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws_lambda_powertools = {extras=["tracer", "validation"], version=">=2.4.0"}
cattrs = ">=22.1.0"

[dev-packages]
aws-cdk-lib = ">=2.139.1"
boto3 = ">=1.26.0"
boto3-stubs = {extras = ["essential", "secretsmanager", "ssm"], version = "*"}
cdk-nag = "*"
moto = {extras = ["all"], version = ">=5.0.6"}
mypy = "*"
pipenv-setup = "==3.2.0" # unmaintained, only used in cms_common Makefile target for manually syncing setup.py and Pipfile.lock
pre-commit = "*"
pycln = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
requests = "*"
setuptools = ">=71.0.0"
syrupy = "*"
toml = "*"
types-boto3 = "*"
types-pyyaml = "*"
types-requests = ">=2.32.0"
types-setuptools = "*"
types-urllib3 = "*"
types-toml = "*"
vistir = "==0.6.1" # Necessary for resolving a `vistir` version conflict with `pipenv-setup`
wheel = "*"
wrapt = "*"

[requires]
python_version = "3.12"
