{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "arguments": $utils.toJson($ctx.args),
        "info": $utils.toJson($ctx.info),
        "selectionSetList": $utils.toJson($ctx.info.selectionSetList)
    }
}
