[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
cdk-nag = "*"
mkdocs-techdocs-core = "*"
pre-commit = "*"
pyyaml = "*"
types-pyyaml = "*"

[requires]
python_version = "3.12"
