[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = ">=22.1.0"
aws_lambda_powertools = {extras=["tracer", "validation"], version=">=2.4.0"}
cattrs = ">=22.1.0"

dataclass-type-validator = ">=0.1.2"
requests = ">=2.32.0"
"cms_common" = {path = "./../../lib", editable = true}

[dev-packages]
aws-cdk-lib = ">=2.139.1"
aws-secretsmanager-caching = "*"
awsiotsdk = "*"
boto3 = ">=1.26.0"
boto3-stubs = {extras = ["essential", "dynamodb", "iot", "secretsmanager", "grafana"], version = "*"}
cdk-nag = "*"
exceptiongroup = "*"
moto = {extras = ["all"], version = ">=5.0.6"}
mkdocs-techdocs-core = "*"
mypy = "*"
pre-commit = "*"
pycln = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
setuptools = ">=71.0.0"
syrupy = "*"
toml = ">=0.10.2"
types-boto3 = ">=1.0.2"
types-python-dateutil = "*"
types-pyyaml = "*"
types-requests = ">=2.32.0"
types-setuptools = ">=65.6.0.1"
types-toml = ">=0.10.2"
urllib3 = ">=2.2.2"
wheel = "*"
zipp = "*"

[requires]
python_version = "3.12"
