[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws_lambda_powertools = {extras=["tracer", "validation"], version=">=2.4.0"}
requests = ">=2.28.1"

[dev-packages]
cms_common = {path = "./../../lib", editable = true}
attrs = ">=22.1.0"
aws-cdk-lib = ">=2.63.2"
boto3 = ">=1.26.0"
boto3-stubs = {extras = ["essential"], version = "*"}
cdk-nag = "*"
jinja2 = "*"
markdown-to-json = "*"
mypy = "*"
pre-commit = "*"
pycln = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
syrupy = "*"
toml = "*"
types-boto3 = ">=1.0.2"
types-python-dateutil = "*"
types-pyyaml = "*"
types-requests = ">=2.28.1"
types-setuptools = "*"
types-urllib3 = "*"
types-toml = "*"
wheel = "*"
wrapt = "*"
freezegun="*"

[requires]
python_version = "3.10"
