[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws_lambda_powertools = {extras=["tracer", "validation"], version=">=2.4.0"}
requests = ">=2.28.1"
cms_common = {path = "./../../lib", editable = true}

[dev-packages]
aws-cdk-lib = ">=2.63.2"
boto3 = ">=1.26.0"
boto3-stubs = {extras = ["essential", "ssm"], version = "*"}
cdk-nag = "*"
freezegun = "*"
moto = "*"
mkdocs-techdocs-core = "*"
mypy = "*"
pre-commit = "*"
pycln = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
requests = "*"
syrupy = "*"
toml = "*"
types-boto3 = "*"
types-pyyaml = "*"
types-requests = ">=2.28.1"
types-setuptools = "*"
types-urllib3 = "*"
types-toml = "*"
wheel = "*"
wrapt = "*"

[requires]
python_version = "3.10"
