[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-powertools = {extras=["tracer", "validation"], version=">=3.7.0"}
requests = ">=2.32.4"
cms_common = {path = "./../../lib", editable = true}

[dev-packages]
aws-cdk-lib = ">=2.176.0"
boto3 = ">=1.37.0"
boto3-stubs = {extras = ["essential", "ssm"], version = ">=1.37.0"}
cdk-nag = "*"
freezegun = "*"
mkdocs-techdocs-core = "*"
moto = {extras = ["all"], version = ">=5.0.27"}
mypy = "*"
pre-commit = "*"
pycln = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
requests = "*"
setuptools = ">=78.1.1"
syrupy = "*"
toml = "*"
types-boto3 = "*"
types-pyyaml = "*"
types-requests = ">=2.32.4"
types-setuptools = "*"
types-urllib3 = "*"
types-toml = "*"
urllib3 = ">=2.5.0"
wheel = "*"
wrapt = "*"

[requires]
python_version = "3.12"
