[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
aws-cdk-lib = ">=2.63.2"
types-boto3 = ">=1.0.2"
types-setuptools = ">=65.6.0.1"
pytest = "*"
pytest-mock = "*"
mypy = "*"
pycln = "*"
moto = {extras = ["all"], version = "*"}
pytest-cov = "*"
pre-commit = "*"
pyjsparser = "*"
pylint = "*"
cdk-nag = "*"
zipp = "*"
syrupy = "*"

[requires]
python_version = "3.10"
