[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws_lambda_powertools = {extras=["tracer", "validation"], version=">=2.4.0"}
backoff = ">=2.2.1"
requests = ">=2.32.0"

[dev-packages]
"cms_common" = {path = "./../../lib", editable = true}
aws-cdk-lib = ">=2.139.1"
boto3 = ">=1.26.0"
boto3-stubs = {extras = ["essential", "athena"], version = "*"}
cdk-nag = "*"
exceptiongroup = "*"
moto = {extras = ["all"], version = ">=5.0.6"}
mkdocs-techdocs-core = "*"
mypy = "*"
pre-commit = "*"
pycln = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pylint = "*"
setuptools = ">=71.0.0"
syrupy = "*"
toml = ">=0.10.2"
types-boto3 = ">=1.0.2"
types-python-dateutil = "*"
types-pyyaml = "*"
types-requests = ">=2.32.0"
types-setuptools = ">=65.6.0.1"
types-toml = ">=0.10.2"
types-urllib3 = "*"
urllib3 = ">=2.2.2"
wheel = "*"
wrapt = "*"
zipp = "*"

[requires]
python_version = "3.12"
