[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
cms_common = {path = "./../../../lib", editable = true}
aws-cdk-lib = ">=2.176.0"
cdk-nag = "*"
moto = {extras = ["all"], version = ">=5.0.27"}
mypy = "*"
pre-commit = "*"
pycln = "*"
pyjsparser = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
setuptools = ">=78.1.1"
syrupy = "*"
urllib3 = ">=2.2.2"
types-boto3 = ">=1.37.0"
types-setuptools = ">=65.6.0.1"
types-pyyaml = "*"
wheel = "*"
zipp = "*"


[requires]
python_version = "3.12"
