[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-powertools = {extras=["tracer", "validation"], version=">=3.7.0"}
backoff = ">=2.2.1"
requests = ">=2.32.4"
cms_common = {path = "./../../lib", editable = true}

[dev-packages]
aws-cdk-lib = ">=2.139.1"
boto3 = ">=1.37.0"
boto3-stubs = {extras = ["secretsmanager", "ssm", "essential", "timestream-query", "cognito-idp"], version = ">=1.37.0"}
"aws-solutions-constructs.aws-cloudfront-s3" = "*"
cdk-nag = "*"
exceptiongroup = "*"
moto = {extras = ["all"], version = ">=5.0.27"}
mkdocs-techdocs-core = "*"
mypy = "*"
pre-commit = "*"
pycln = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pylint = "*"
pyyaml = "*"
setuptools = ">=78.1.1"
syrupy = "*"
toml = ">=0.10.2"
types-boto3 = ">=1.37.0"
types-python-dateutil = "*"
types-pyyaml = "*"
types-requests = ">=2.32.4"
types-setuptools = ">=65.6.0.1"
types-toml = ">=0.10.2"
types-urllib3 = "*"
urllib3 = ">=2.5.0"
wheel = "*"
wrapt = "*"
zipp = "*"

[requires]
python_version = "3.12"
