[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"cms_common" = {path = "./../../lib", editable = true}
aws-cdk-lib = ">=2.63.2"
boto3 = ">=1.26.0"
boto3-stubs = {extras = ["essential"], version = "*"}
cdk-nag = "*"
jinja2 = "*"
markdown-to-json = "*"
mkdocs-techdocs-core = "*"
mypy = "*"
pre-commit = "*"
pycln = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pyyaml = "*"
requests = "*"
syrupy = "*"
toml = "*"
types-boto3 = "*"
types-python-dateutil = "*"
types-pyyaml = "*"
types-requests = ">=2.31.0"
types-setuptools = "*"
types-urllib3 = "*"
types-toml = "*"
wrapt = "*"
freezegun="*"

[requires]
python_version = "3.10"
